<main>
    <div style="position: relative; height: 50px; ">
        <a href="/api/sessions/logout" style="position: absolute;  right: 0; margin-top: 10px;"
            class="btn btn-outline-dark">
            Logout
        </a>
    </div>
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-md-4 my-auto">
                <h1 class="h3 mb-5">Agregar Producto</h1>
                <form id="noteForm" class="card card-body rounded-0" action="/api/products" method="POST">
                    <input id="title" type="text" name="title" placeholder="Escribe tu titulo"
                        class="form-control rounded-0 mb-3" />
                    <input id="description" type="text" name="description" placeholder="Descripcion"
                        class="form-control rounded-0 mb-3" />
                    <input id="price" type="text" name="price" placeholder="Precio"
                        class="form-control rounded-0 mb-3" />
                    <input id="code" type="text" name="code" placeholder="Code" class="form-control rounded-0 mb-3" />
                    <input id="stock" type="number" name="stock" placeholder="Stock"
                        class="form-control rounded-0 mb-3" />
                    <input id="category" type="text" name="category" placeholder="Categoria"
                        class="form-control rounded-0 mb-3" />
                    <button id="btnGuardar" class="btn btn-dark rounded-0">Guardar</button>
                </form>
            </div>

            <div class="col-md-8 py-10" id="productos">
                <h1 class="h3 mb-5">Lista de Productos</h1>
                <div class="card bg-light mb-3">
                    {{#each productos}}
                    <p>Codigo: {{this._id}}</p>
                    <p>Descripción: {{this.title}} - {{this.description}}</p>
                    <button class="btn btn-outline-danger" onclick="eliminarProduct('{{this._id}}')"><strong> Eliminar
                            Producto </strong></button>
                    {{!-- <li> ID: {{this._id}} - {{this.title}} - {{this.description}} </li><br> --}}
                    {{/each}}
                </div>
            </div>
        </div>
</main>

<script src=" https://cdn.jsdelivr.net/npm/sweetalert2@11.7.1/dist/sweetalert2.all.min.js "></script>
<script>
    function eliminarProduct(id) {
        console.log('Current Prod ID', id)

        fetch(`/api/products/${id}`, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json'
            }
        })
            .then(res => res.json())
            .then(data => {
                console.log(data)
                Swal.fire({
                    icon: 'info',
                    title: 'Información',
                    text: data.payload,
                });
                //  window.location.reload()       
            })
    }
</script>