<main>
    <div class="container"  >
        <div style="position: relative; height: 50px;">
            {{#if role}}
                {{!-- <a href="/adminproducts" style="display: inline-block; margin-top: 10px; " class="btn btn-outline-dark">
                    Admin. Productos
                </a> --}}
                <a href="/realtimeproducts" style="display: inline-block; margin-top: 10px; " class="btn btn-outline-dark">
                    Admin. Productos
                </a>
            {{/if}}
            {{#if roleAdmin}}
                <a href="/users" style="display: inline-block;margin-top: 10px; " class="btn btn-outline-dark">
                    Admin. Usuarios
                </a>
            {{/if}}
            <a href= "/carts/{{cart}}" style="display: inline-block;margin-top: 10px;" class="btn btn-outline-dark">
                Ver Carrito 
            </a>
            <a href= "/uploadfile" style="display: inline-block;margin-top: 10px;" class="btn btn-outline-dark">
                Subir Archivos
            </a>
            <a href="/api/sessions/logout"  style="position: absolute;  right: 0;margin-top: 10px; " class="btn  btn-outline-dark">
                Logout
            </a> 
       </div>
       <h2>Lista de Productos</h2> 
        <div class="container">
            <div class="row">
                {{#each productos}}
                <div class="col-md-4 mb-4">
                    <div class="card bg-light h-100">
                        <h5 class="card-header">{{this.title}}</h5>
                        <div class="card-body">
                            <p class="card-text">Descripción: {{this.description}}</p>
                            <p class="card-text">Precio: {{this.price}}</p>
                            <p class="card-text">Stock: {{this.stock}}</p>
                            <p class="card-text">Categoría: {{this.category}}</p>
                        </div>
                        <form action="/products" method="post">
                            <input id="txtCantidad" type="number" name="txtCantidad" placeholder="Ingrese Cantidad" class="form-control rounded-0 mb-3" />
                            <input type="text" name="prodId" value="{{this._id}}" style="display: none;">
                            <input type="text" name="CartId" value="{{../cart}}" style="display: none;">
                            <button class="btn btn-outline-dark">Agregar al carrito</button>
                        </form>  
                    </div>
                 
                </div>
                {{/each}}
            </div>
        </div>

        <center >
            {{#if hasPrevPage}}
                <a href="/products?nropage={{prevPage}}">Anterior</a>
            {{/if}}
            <label>{{page}}</label>
            {{#if hasNextPage}}
                <a href="/products?nropage={{nextPage}}">Siguente</a>
            {{/if}}
        </center>
    </div>
</main>
